@use 'foundation' as *;

.c-btn {
  padding: prem(14) prem(60);
  display: inline-block;
  font-size: prem(15);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid $orange;
  color: $orange;
  transition: .3s;
  text-transform: uppercase;
}

.c-btn:hover {
  @include mq(md){
      color: $white;
      background-color: $orange;
      opacity: 1;
  }
}


.c-btn--contact {
  position: relative;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  transition: opacity .3s ease;
}

.c-btn--contact:hover {
  opacity: 0.7;
}

.c-btn--contact::after {
  content: "";
  margin-left:10px;
  width: 11px;
  height: 12px;
  display: inline-block;
  background-image: url(/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c-btn:hover .c-arrow {
  width: 21px;
  background-color: $white;
}

.c-btn:hover .c-arrow::after {
  background-color: $white;
}