@use 'foundation' as *;

.title-wrap,
.title-wrap {
  position: relative;
}

.title-wrap::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: $orange;
  left: 0;
  top: 70px;
  @include mq(md) {
    width: 50px;
    top: 100px;
  }
}

.title-wrap-center {
  @include mq(md) {
    text-align: center;
  }
}

.title-wrap-center::after {
  @include mq(md) {
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
  }
}


.title {
  position: relative;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  @include mq(md) {
    font-size: 60px;
    font-weight: $bold;
  }
}


.title::before {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: $cream;
  font-size: 64px;
  @include mq(md) {
    font-size: 150px;
  }
}

.title-center::before {
  @include mq(md) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.sub-title {
  position: relative;
  font-size: 12px;
  font-weight: $bold;
  margin-top: 5px;
  @include mq(md) {
    font-size: 14px;
  }
}

// メインタイトル
.main-title {
  font-size: 32px;
  text-transform: uppercase;
  @include mq(md) {
    font-size: 60px;
  }
}

.main-title-orange {
  color: $orange;
}



