@use 'foundation' as *;

.sp-show {
  @include mq("md") {
  display: none;
    }
}

.sp-none {
  display: none;
  @include mq("md") {
    display: block;
      }
}

.md-none {
  @include mq("md") {
  display: none;
    }
}

.md-show {
  display: none;
  @include mq("md") {
    display: block;
      }
}