@use 'foundation' as *;

.faq__list {
  max-width: 800px;
  background-color: $white;
  padding: 73px 20px 20px;
  margin: 0 auto;
  @include mq(md) {
    position: relative;
    padding: 120px 25px 60px;
  }
}

.faq__title-wrap {
  z-index: 1;
  position: absolute;
  top: 90px;
  @include mq(md) {
    text-align: center;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
  }
}

.faq-list__item {
		background-color: $white;
    box-shadow: 0 0 prem(40) 0 rgba(0, 0, 0, .05);
}

.faq-list__item + .faq-list__item {
    margin-top: 10px;
    @include mq(md) {
      margin-top: 15px;
    }
}

.faq-list__item-question {
    padding: 15px 40px 15px 31px;
    position: relative;
    font-size: 14px;
    color: $white;
    background-color: $orange;
    font-weight: $bold;
    text-indent: -20px;
    cursor: pointer;
    @include mq(md){
        padding: prem(14) prem(60) prem(14) prem(80);
        font-size: prem(18);
    }
}

.faq-list__item-question::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    transform: translateY(-50%) rotate(135deg);
    transition: .3s;
    @include mq(md){
        width: 13px;
        height: 13px;
    }
}

.faq-list__item-question.is-open::before {
    transform: translateY(-50%) rotate(315deg);
}

.faq-list__item-question span {
    margin-left: 20px;
    display: inline-block;
    color: $white;
}

.faq-list__item-answer {
    padding: 15px 15px 15px 31px;
    display: none;
    font-size: 13px;
    text-indent: -20px;
    @include mq(md){
        padding: prem(20) prem(40) prem(15) prem(80);
        font-size: prem(18);
    }
}

.faq-list__item-answer span {
  font-size: 14px;
  font-weight: $bold;
   margin-left: 20px;
    display: inline-block;
    color: $orange;
}