@use 'foundation' as *;

.mv {
    position: relative;
    height: 100vh;
    min-height: prem(400);
}

.mv__inner {
    height: inherit;
    min-height: inherit;

}

.mv__title-wrap {
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 335px;
    text-align: center;
    @include mq(md){
      top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 570px;
        left: 25px;
    }
}

.mv__main-title {
 text-align: left;
 font-size: 50px;
 line-height: 1;
 @include mq(md){
  font-size: 128px;
    }
}

.mv__main-title span {
  display: block;
  text-align: right;
}

.mv__sub-title {
    margin-top: 25px;
    font-size: 15px;
    font-weight: $bold;
    text-align: left;
    letter-spacing: 0.2em;
    @include mq(md){
        font-size: 18px;
        margin-top: 40px;
        letter-spacing: 0.03em;
    }
}

.mv__img,
.mv__img img {
    height: 100vh;
    min-height: 100vh;
}

.mv__img img {
    width: 100%;
    object-fit: cover;
}