@use 'foundation' as *;

.p-home-works {
  padding: 60px 0;
  @include mq(md) {
    padding-bottom: 100px;
  }

}

.p-home-works__header {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-home-works__lead {
  font-size: 14px;
  line-height: 1.5;
  max-width: 520px;
  margin-top: 45px;
  @include mq(md) {
    font-size: 15px;
    width: 50%;
    margin-top: 0;
  }
}

.p-home-works__items {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 35px;
  @include mq(md){
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 85px;
  }
}

.p-home-works__item {
  box-shadow: 0 0 8px $grey;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.p-home-works__item:hover {
  opacity: 0.6;
}


.p-home-works__item a {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
}

.works-list__item-img {
  width: 100%;
}

.p-home-works__img img {
  width: 100%;
  aspect-ratio: 335/174;
  object-fit: cover;
}

.p-home-works__content {
  padding: 26px 28px;
  @include mq(md){
      padding: 31px 30px;
  }
}

.p-home-works__title {
  font-size: 15px;
  font-weight: $bold;
  line-height: 1.5;
  margin-top: 10px;
  @include mq(md){
      font-size: 16px;
  }
}

.p-home-works__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  @include mq(md){
      font-size: 15px;
  }
}

.p-home-works__date {
  color: $grey;
  font-size: 13px;
  line-height: 1.5;
  font-weight: $medium;
  @include mq(md){
      font-size: 14px;
  }
}

.p-home-works__btn {
  margin-top: 30px;
  text-align: center;
  @include mq(md) {
    margin-top: 70px;
  }
}