@use 'foundation' as *;

.pagenavi__inner {
  margin: 60px auto 0;
  padding: 0 20px;
  max-width: 600px;
  width: 100%;
  @include mq(md){
      padding: 0 25px;
      max-width: 1200px;
  }
}

.pagenavi .wp-pagenavi {
  clear: both;
  text-align: center;
}

.pagenavi .wp-pagenavi a,
.pagenavi .wp-pagenavi span {
  margin: 0 8px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid $grey3;
  background-color: $grey3;
  transition: .3s;
}

.pagenavi .wp-pagenavi a:hover {
color: $white;
background-color: $orange;
border-color: $orange;
  opacity: 1;
}

.pagenavi .wp-pagenavi .current {
color: $white;
background-color: $orange;
border-color: $orange;
}