@use 'foundation' as *;

.works {
  padding: 60px 0;
  @include mq(md) {
    padding-bottom: 100px;
  }

}

.works__content {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.works__text {
  font-size: 14px;
  line-height: 1.5;
  max-width: 520px;
  margin-top: 45px;
  @include mq(md) {
    width: 50%;
    margin-top: 0;
  }
}


.works__btn {
  margin-top: 30px;
  text-align: center;
  @include mq(md) {
    margin-top: 70px;
  }
}
