@use 'foundation' as *;

.u-sp-show {
  @include mq("md") {
  display: none;
    }
}

.u-sp-none {
  display: none;
  @include mq("md") {
    display: block;
      }
}

.u-pc-show {
  display: none;
  @include mq("md") {
    display: block;
      }
}

.u-pc-none {
  @include mq("md") {
  display: none;
    }
}

